<div ng-controller="LanguagesCtrl">
    <div id="stringsContainer" style="padding-bottom: 40px;">
    </div>
    <div style="width:100%; position:fixed; background-color:white; bottom:0px; z-index:0;">
        <div class="main col-md-9 pull-right" style="margin-right: 1px; margin-top: 5px;">
            <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
                <a id="saveButton" class="btn btn-success pull-right" style="width:100px; height:35px; padding-top: 7px;" ng-click="save()">Save</a>
            </div>
        </div>
    </div>
</div>