<div class="item clearfix row">
  <div class="col-md-1 labels pull-left margin-top-five">
    <span>Sort</span>
  </div>
  <div class="col-md-4 pull-left">
    <div class="dropdown" dropdown>
      <button class="btn btn-default text-left dropdown-toggle"
              data-toggle="dropdown" dropdown-toggle aria-expanded="true">
        <span class="pull-left">Sort By</span>
        <span class="chevron icon-chevron-down pull-right"></span>
      </button>
      <ul class="dropdown-menu extended" role="menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 padding-zero pull-left row">
    <div class="col-md-9 pull-left">
      <input type="text" class="form-control"
             placeholder="Search item name or summary">
    </div>
    <div class="col-md-3 pull-right padding-zero">
      <a class="btn btn-primary stretch">Search</a>
    </div>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="col-md-4 col-xs-offset-4">
    <a class="btn btn-success stretch">Add New Item</a>
  </div>
</div>
<hr class="none">
<div class="draggable-list-view wide-list has-btn links-list">
  <div class="d-item double-line square-icon clearfix">
    <span class="icon icon-menu pull-left"></span>

    <div class="media-holder pull-left">
      <img src="http://www.placehold.it/80x50">
    </div>
    <div class="copy pull-right">
      <div class="col-md-4 padding-zero pull-left">
        <a class="text-primary"><span
            class="title ellipsis pull-left">Item Name</span></a>
        <span class="title ellipsis pull-left">Item Summary</span>
      </div>
      <div class="col-md-7 padding-right-zero pull-left">
        <span class="title pull-left ellipsis">Created: July 3, 2016</span>
        <span
            class="title pull-left ellipsis">Pub. Date: January 24, 2016</span>
      </div>
      <div class="pull-right">
	                <span class="btn-icon btn-delete-icon btn-danger"><span>
      </div>
    </div>
  </div>
  <div class="d-item double-line square-icon clearfix">
    <span class="icon icon-menu pull-left"></span>

    <div class="media-holder pull-left">
      <img src="http://www.placehold.it/80x50">
    </div>
    <div class="copy pull-right">
      <div class="col-md-4 padding-zero pull-left">
        <a class="text-primary"><span
            class="title ellipsis pull-left">Item Name</span></a>
        <span class="title ellipsis pull-left">Item Summary</span>
      </div>
      <div class="col-md-7 padding-right-zero pull-left">
        <span class="title pull-left ellipsis">Created: July 3, 2016</span>
        <span
            class="title pull-left ellipsis">Pub. Date: January 24, 2016</span>
      </div>
      <div class="pull-right">
	                <span class="btn-icon btn-delete-icon btn-danger"><span>
      </div>
    </div>
  </div>
  <div class="d-item double-line square-icon clearfix">
    <span class="icon icon-menu pull-left"></span>

    <div class="media-holder pull-left">
      <img src="http://www.placehold.it/80x50">
    </div>
    <div class="copy pull-right">
      <div class="col-md-4 padding-zero pull-left">
        <a class="text-primary"><span
            class="title ellipsis pull-left">Item Name</span></a>
        <span class="title ellipsis pull-left">Item Summary</span>
      </div>
      <div class="col-md-7 padding-right-zero pull-left">
        <span class="title pull-left ellipsis">Created: July 3, 2016</span>
        <span
            class="title pull-left ellipsis">Pub. Date: January 24, 2016</span>
      </div>
      <div class="pull-right">
	                <span class="btn-icon btn-delete-icon btn-danger"><span>
      </div>
    </div>
  </div>
  <div class="d-item double-line square-icon clearfix">
    <span class="icon icon-menu pull-left"></span>

    <div class="media-holder pull-left">
      <img src="http://www.placehold.it/80x50">
    </div>
    <div class="copy pull-right">
      <div class="col-md-4 padding-zero pull-left">
        <a class="text-primary"><span
            class="title ellipsis pull-left">Item Name</span></a>
        <span class="title ellipsis pull-left">Item Summary</span>
      </div>
      <div class="col-md-7 padding-right-zero pull-left">
        <span class="title pull-left ellipsis">Created: July 3, 2016</span>
        <span
            class="title pull-left ellipsis">Pub. Date: January 24, 2016</span>
      </div>
      <div class="pull-right">
	                <span class="btn-icon btn-delete-icon btn-danger"
                        onclick="alert('open deleteItem.html modal');"><span>
      </div>
    </div>
  </div>
</div>