
<tabset justified="true">
  <tab heading="Item Content">
    <div class="item clearfix row" style="padding-top: 20px">
      <div class="col-md-3 labels pull-left">
        <span>Item Title *</span>
      </div>
      <div class="col-md-9 main pull-right">
        <input type="text" class="form-control" placeholder="Item Title"
               ng-model="ContentItem.item.data.title">
      </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
      <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Deep Link URL</span>
      </div>
      <div class="main col-md-9 pull-right">
        <span>{{ContentItem.item.data.deepLinkUrl}}</span>
      </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
      <div class="col-md-3 labels pull-left">
        <span>Item Summary</span>
      </div>
      <div class="col-md-9 main pull-right">
        <input type="text" class="form-control" placeholder="Item Summary"
               ng-model="ContentItem.item.data.summary">
      </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
      <div class="col-md-3 labels pull-left">
        <span>Publication Date</span> <span title="Date of the publication, displayed on the list and on individual items"><i
          class="material-icons">info</i></span>
      </div>
      <div class="col-md-9 main pull-right">
        <input type="text" class="form-control" date-time=""
               placeholder="MM/DD/YYYY"
               data-publish-date="ContentItem.item.data.publishDate"
               ng-model="ContentItem.item.data.publishDate">
      </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
      <div class="col-md-3 labels pull-left">
        <span>Release Date</span> <span title="Prior to release date, the item will not be shown in the list. Leave this field empty to always show."><i
          class="material-icons">info</i></span>
      </div>
      <div class="col-md-9 main pull-right">
        <input type="text" class="form-control" date-time-release=""
               placeholder="MM/DD/YYYY"
               data-release-date="ContentItem.item.data.releaseDate"
               ng-model="ContentItem.item.data.releaseDate">
      </div>
    </div>
    <hr class="none">
    <div id="listImage"></div>
    <hr class="none">
    <div class="carousel-padding-botton" id="carousel2"></div>
	<div class="item clearfix row">
      <div class="col-md-9 main pull-right">
    	<div class="well text-center margin-bottom-zero margin-top-twenty"
	         ng-hide="ContentItem.item.data.carouselImages.length">
	      <p class="margin-zero">No images found.</p>
	    </div>
	  </div>
	</div>
    <hr class="none">
    <hr class="none">
    <div id="actionItems"  dynamic-link-component links="ContentItem.item.data.links"></div>
    <hr class="none">
    <div class="item clearfix row">
      <div class="col-md-12 labels pull-left">
        <span>Content</span>
      </div>
    </div>
    <div class="item clearfix row margin-top-ten">
      <div class="col-md-12 main pull-left">
        <textarea rows="5" width="100%"
                  class="form-control" placeholder="WYSIWYG"
                  ui-tinymce="ContentItem.descriptionWYSIWYGOptions"
                  ng-model="ContentItem.item.data.description"></textarea>
      </div>
    </div>
    <hr class="none">
	  <div id="actionItems" style="margin-bottom:50px;"></div>
	  <hr class="none">
    <div class="item clearfix row" style="width:100%; position:fixed; background-color:white; bottom:0px; z-index:0; margin-left: 0px !important;">
      <div class="main pull-right" style="margin-right: 15px; margin-top: 5px;">
        <a class="btn btn-primary stretch"  style="width:100px;" ng-click="ContentItem.goToHome()"
           ng-disabled="!ContentItem.isValidItem(ContentItem.item.data)">Done
        </a>
      </div>
    </div>
  </tab>
  <tab heading="Item Design">
    <div style="padding-top: 20px">
      <div id="background"></div>
    </div>
  </tab>
</tabset>