/* Global Styles ////////////////////////////////////////////////////////////////////////////// */
html{
	font-size: 16px !important;
}
.caption {
	font-size: .75rem;
	line-height: 1.25rem;
	opacity: .5;
}
.main-header{
	box-shadow:0 2px 4px rgba(98, 98, 98, 0.3);
	padding: 1rem;
}
h5{
	font-size: 1rem !important;
}
.list-layout{
	padding: 1rem 0;
}
.list-item{
	cursor: pointer;
}
.list-item:hover{
	background-color: rgba(150,150,150,.05);
}
.btn-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	font-size: 1.125rem;
	cursor: pointer;
}
.btn-icon:hover{
	background-color: rgba(150,150,150,.05);
}
.load-in{
	transform: scale(.1);
	opacity: 0;
	animation: load-in .2s ease-in .5s forwards;
}
.transparent-background{
    background-color: rgba(255, 255, 255, 0.1);
}
.transparent-background.btn-icon{
    transition: background-color ease-in-out .1s;
}
@keyframes load-in {
	0%{
			transform: scale(.1);
	}
	100%{
			transform: scale(1);
			opacity: 1;
	}
}
.holder .bottom .extra-links .btn-fab {
    position: absolute;
    bottom: 3.5rem;
    right: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 20px;
    /*z-index:13;*/
    opacity: 0.5;
}
.word-break{
    word-break: break-word;
}
/* End Global Styles ////////////////////////////////////////////////////////////////////////////// */

/* Start Item List 1 & 3 ////////////////////////////////////////////////////////////////////////////// */
.layout1 .list-item,
.layout3 .list-item{
    display: flex;
    align-items: center;
    padding: .75rem .5rem .75rem .75rem;
}
.item-click-holder{
    display: flex;
    align-items: center;
    flex: auto;
}
.layout1 .list-item .list-media-holder,
.layout3 .list-item .list-media-holder{
    flex-shrink: 0;
    margin-right: .75rem;
    width: 4rem;
    height: 4rem;
}
.layout3 .list-item .list-media-holder{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.layout1 .list-item .bookmark-holder,
.layout3 .list-item .bookmark-holder{
    flex-shrink: 0;
    margin-left: .75rem;
}
/* End Item List 1 & 3 ////////////////////////////////////////////////////////////////////////////// */

/* Start Item List 2 ////////////////////////////////////////////////////////////////////////////// */
.layout2 .list-item{
    display: flex;
    align-items: center;
    padding: .75rem .5rem .75rem .75rem;
}
.layout2 .list-item .list-media-holder{
    flex-shrink: 0;
    margin-right: .75rem;
    width: 100px;
    height: 56px;
    border-radius: .25rem;
    text-align: center;
    overflow: hidden;
}
.layout2 .list-item .bookmark-holder{
    flex-shrink: 0;
    margin-left: .75rem;
}
/* End Item List 2 ////////////////////////////////////////////////////////////////////////////// */

/* Start Item List 4 ////////////////////////////////////////////////////////////////////////////// */
.layout4 .plugin-slide .bookmark-icon {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 11;
}

.layout4 .blackLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 0%, rgba(0,0,0,0.30155812324929976) 100%);
}

.layout4 .hasBackground .backgroundLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-size: cover !important;
}
.layout4 .hasBackground .plugin-slide img{
    width: 110%;
    height: 55vw;
    object-fit: cover;
}
.layout4 .plugin-slide .item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 7;
    padding: .75rem;
    text-align: left;
}
.layout4 .plugin-slide .item-text h5{
    font-size: 1.25rem !important;
    margin-bottom: .25rem;
}
.layout4 .plugin-banner{
    padding: .75rem 0;
}
.layout4 .item-click-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
}
/* End Item List 4 ////////////////////////////////////////////////////////////////////////////// */

/* End Item List 5 ////////////////////////////////////////////////////////////////////////////// */
.layout5 .items-grid{
	padding: .75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
}
@media (min-width: 540px){
	.layout5 .items-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
.layout5 .grid-item{
	overflow: hidden;
	background-color: rgba(150,150,150,.02);
	border-radius: .25rem;
	box-shadow: 0 2px 4px rgba(98, 98, 98, 0.3);
	cursor: pointer;
}
.layout5 .grid-item .item-text{
    padding: .5rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.layout5 .item-header{
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}
.layout5 .grid-item .item-header .btn-icon{
    margin-left: auto;
    pointer-events: all;
}
.layout5 .blackLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.layout5 .grid-item img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}
.layout5 .grid-item .item-click-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
/* End Item List 5 ////////////////////////////////////////////////////////////////////////////// */

/* Start Item Detail ////////////////////////////////////////////////////////////////////////////// */
.seminar-notes .menu-options{
    background-color: rgba(150,150,150,.1);
    padding: .75rem;
    cursor: pointer;
}
.item-main-header{
    box-shadow:0 2px 4px rgba(98, 98, 98, 0.3);
}
/* End Item Detail ////////////////////////////////////////////////////////////////////////////// */

/* Start Notes ////////////////////////////////////////////////////////////////////////////// */
.search-holder {
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.1);
	margin: .75em;
	display: flex;
	border-radius: .25rem;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 1.5rem);
	box-shadow: 0 0.05rem 0.25rem rgba(135, 135, 135, 0.2);
}
.search-holder input[type="text"]{
	background-color: rgba(150,150,150,.02);
	color: inherit !important;
}
.search-holder input[type="text"]::placeholder{
	color: inherit !important;
	opacity: .5;
}
.search-list{
	padding-top: 3.75rem;
}
.list-item.swipe-item{
    display: block;
    padding: 0;
}
.list-item.swipe-item .list-item-copy{
    padding: .75rem 1rem;
}
.list-item.swipe-item h5{
    font-size: 1rem;
    margin-bottom: .25rem;
    margin-top: 0;
}
.swipe-item .note-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}
.swipe-item .note-details p{
    margin: 0;
}
.swipe-item .note-details p:last-child{
    margin-left: 1rem;
}
.swipe-item .note-details p:only-child{
    margin-left: 0;
}
.swipe-item .remove-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Notes ////////////////////////////////////////////////////////////////////////////// */

/* Start Edit Notes ////////////////////////////////////////////////////////////////////////////// */
.holder .bottom div.edit-note{
    padding: 1rem;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    height: 240px;
}
.edit-note input[type="text"], 
.edit-note textarea{
    page-break-after: .75rem;
    background-color: rgba(150,150,150,.02);
    color: inherit !important;
    padding: .7rem;
    border: 0;
    border-bottom: 1px solid rgba(150,150,150,.1);
    border-radius: .25rem .25rem 0 0;
    font-size: 14px;
    resize: none;
}
.edit-note input[type="text"]{
    margin-bottom: .75rem;
    font-size: 1rem;
}
.edit-note input[type="text"]::placeholder, 
.edit-note textarea::placeholder{
    color: inherit;
    opacity: .25;
}
/* End Edit Notes ////////////////////////////////////////////////////////////////////////////// */


.scroll-y{
    overflow-y: auto !important;
}
/* Link Items */
.link-list {
    padding-top: 2px;
}

.link-list a + a {
    margin-left: 10px;
}

/* List Items */
.list-items .list-item,
.list-layout .list-item {
    position: relative;
}


.list-items .list-item + .list-item {
    padding-top: 10px;
    margin-top: 10px;
}

.list-items .list-item .media {
    width: 100px;
}

.list-items .list-item .content {
    padding-left: 110px;
    width: 100%;
}

/* List Layout Grids */

.list-layout .list-item-media {
    position: relative;
    left: 0;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.list-layout .list-item-media.now-playing:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #09a3ee;
}

.list-layout .list-item-media.edit {
    left: -100px;
}

.list-layout .list-item-media .remove-btn {
    position: absolute;
    top: 0;
    right: -120px;
    padding: 25px 0;
    width: 100px;
    height: 100%;
    color: #fff;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.list-layout .list-item-media.edit .remove-btn {
    right: -100px;
}

.list-layout .list-item-media.edit .btns {
    right: 58px;
}

.list-layout .list-item-media .list-media-holder {
    margin: 0 auto;
}

.list-layout.layout5 .list-item-media .list-media-holder img {
    max-height: 100%;
}

.list-layout.layout-6 .list-item-media .list-media-holder {
    /*height:150px;*/
}

.list-layout.layout-6 .list-item-media .list-media-holder img {
    max-height: 100%;
}

.layout4 .list-layout .list-item-media .list-media-holder {
    /*max-width:200px;*/
}

.list-layout .list-item-copy p.summary {
    font-size: 13px;
}

.list-layout span.list-item-date {
    font-size: 11px;
    font-style: italic;
    display: block;
    margin: -4px 0 -4px;
}

.layout3 .list-layout {
    position: relative;
}

.layout3 .list-layout:before {
    content: '';
    display: none;
}

.layout3 .list-layout .list-item-media {
    background: none;
}


/* html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder {
    line-height: 60px;
} */


.holder .plugin-banner {
    position: relative;
    border-bottom: none !important;
}

/* Fixed Bottom */
.holder.has-bottom {
    padding-bottom: 38px !important;
}

.holder.has-bottom.has-extra-links {
    padding-bottom: 88px !important;
}

.holder .bottom.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: #09a3ee;
}

html[safe-area="true"] .holder .bottom.fixed-bottom {
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-bottom: constant(safe-area-inset-bottom) !important;
}

html[safe-area="true"] .holder.has-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 38px) !important;
}

.holder .bottom.fixed-bottom.has-content {
    bottom: -240px;
}

.holder .bottom.fixed-bottom.has-content.open {
    bottom: 0;
}

.holder .bottom.fixed-bottom .hidden-content {
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

.holder .bottom.fixed-bottom .hidden-content .content {
    display: none;
}

.holder .bottom.fixed-bottom .hidden-content .content.active {
    display: block;
}

.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item,
.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-copy {
    min-height: 40px;
}

.holder .bottom.fixed-bottom .hidden-content .layout3 .list-layout .list-item-media .remove-btn {
    padding: 16px 0;
}

.holder .bottom div {
    padding: 0;
}

.holder .bottom .padded {
    padding: 15px;
}

.holder .bottom div a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 13px;
    text-decoration: none;
}

.holder .bottom > .hidden-content {
    background: #fff;
}

.holder .bottom div a.active {
    font-weight: bold;
}



.holder .bottom .extra-links a.bookmarked {
    opacity: 1 !important;
}

.holder .bottom .extra-links a .icon {
    color: #09a3ee;
}

/* Custom */
.seminar-notes .list-item-copy p {
    line-height: 18px;
}

.seminar-notes .list-item-copy p.small {
    font-size: 11px;
}

.seminar-notes .form-holder .form-control.border-none {
    height: 38px;
}

.seminar-notes .list-item-copy p span.selected {
    font-weight: 500;
}


.seminar-notes .list-item-copy .bookmark-holder {
    position: absolute;
    top: 51%;
    right: 10px;
    transform: translateY(-50%);
}

.seminar-notes .list-item-copy .bookmark-holder span.icon {
    font-size: 20px;
    vertical-align: top;
}

.seminar-notes .form-holder .clear-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #ed4b4b;
	font-family:helvetica, arial !important;
}

.seminar-notes .form-holder .clear-icon:after {
    content: '+';
    color: #fff;
    position: absolute;
	top:-3px;
	left:4px;
    font-size: 19px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
html[browser="Firefox"] .seminar-notes .form-holder .clear-icon:after {
	top:-2px;
    left:3px;
}
html[browser="Netscape"] .seminar-notes .form-holder .clear-icon:after {
	left:3.5px;
}
html[os="Windows"][browser="Chrome"] .seminar-notes .form-holder .clear-icon:after {
	left:3px;
	top:-1px;
}
.seminar-notes .well p {
    font-size: 13px;
}

/* Item Layouts 4-5 */
.item-block {
    position: relative;
    padding: 1px !important;
}

.plugin-slide p.item-text {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    z-index: 7;
    -webkit-transform: translate3d(0, 0, 0);
}

.item-block .text-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-block .text-holder p.item-text {
    display: flex;
    align-self: center;
    color: #fff;
    padding: 15px;
    /*text-shadow:1px 1px 3px #111;*/
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
}

.item-block img {
    height: auto;
    width: 100%;
}

.hasBackground .plugin-slide {
    position: relative;
    overflow: hidden;
}
/* Items Layout 4-5 */
.plugin-slide {
    text-align: center;
}

.item-block .text-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-block .text-holder p.item-text {
    display: flex;
    align-self: center;
    color: #fff;
    padding: 15px;
    /*text-shadow:1px 1px 3px #111;*/
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
}

.plugin-slide .item-text p.item-date {
    font-size: 12px;
    font-style: italic;
}

.item-block img {
    height: auto;
    width: 100%;
}

.hasBackground .plugin-slide {
    position: relative;
    overflow: hidden;
}

.sticky-bottom-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.list-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bottom-zero {
    bottom: 0px !important;
}

/*
* Removed border for modal pop up
*/

html[buildfire] .modal .modal-dialog {
    border: none !important;
}

/*
* Removed backdrop for modal pop up
*/

html[buildfire='widget'] .modal {
    background: none;
}

/*
* Make input text color black incase overridden by some theme
*/

.form-holder-custom{
    position: relative;
	overflow:hidden;
}
.form-holder-custom .savedMessage{
    position: absolute;
    bottom: calc(1.5rem + env(safe-area-inset-bottom));
    left: 1rem;
    width: calc(100% - 2rem);
    font-size: .875rem;
    padding: .5rem 1rem !important;
    background: #999;
    border-radius: .25rem;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    pointer-events: none;
    opacity: 0;
    transform: translateY(200%) scale(.1);
}
.form-holder-custom .savedMessage.active{
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* CSS Spinner */
.lazy-spinner {
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 4px solid #fff;
    border-right-color: lightgrey;
    border-radius: 50%;
    align-self: center;
}

.lazy-spinner-background{
    margin: 0 auto;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.whiteTheme {
    height: 45px;
    min-height: 45px;
}