/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}

/* List Items */
.list-items .list-item,
.list-layout .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item{
	padding-left:15px;
	padding-right:8px;
}
.list-layout .list-item + .list-item{
	padding-left:8px;
	padding-right:15px;
}
.list-layout .list-item-media{
	position:relative;
	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-100px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-100px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
}
.list-layout.layout5 .list-item-media .list-media-holder img{
	max-height:100%;
}
.list-layout.layout-6 .list-item-media .list-media-holder{
	/*height:150px;*/
}
.list-layout.layout-6 .list-item-media .list-media-holder img{
	max-height:100%;
}
.layout4 .list-layout .list-item-media .list-media-holder{
	/*max-width:200px;*/
}
.list-layout .list-item-copy{
	padding:10px 0;
	min-height:70px;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:110px;
	height:60px;
	line-height:58px;
	margin:inherit;
	margin-right:10px;
	/*background:#efefef;*/
	border-radius:4px;
	margin:5px 10px 5px 5px;
	text-align:center;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.layout3 .list-layout .list-item{
	padding:0;
	min-height:71px;
	position:relative;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px 5px;
}

.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}

/* Fixed Bottom */
.holder.has-bottom{
	padding-bottom:38px !important;
}
.holder.has-bottom.has-extra-links{
	padding-bottom:88px !important;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#efefef;
	z-index:9999;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom .padded{
	padding:15px;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:8px;
	font-size:13px;
	text-decoration:none;
}
.holder .bottom > .hidden-content{
	background:#fff;
}
.holder .bottom div a.active{
	font-weight:500;
}
.holder .bottom .extra-links a{
	position:absolute;
	top:-45px;
	left:10px;
	border-radius:100%;
	font-size:21px;
	padding:7px;
	text-align:center;
	height:35px;
	width:35px;
	background:#efefef;
	color:#fff;
	/*z-index:13;*/
	opacity:0.8;
}
.holder .bottom .extra-links a + a{
	left:inherit;
	right:10px;
}
.holder .bottom .extra-links a .icon{
	color:#09a3ee;
}

/* Custom */
.seminar-notes .list-item-copy p{
	line-height:18px;
}
.seminar-notes .list-item-copy p.small{
	font-size:11px;
}
.seminar-notes .form-holder .form-control.border-none{
	height:38px;
}
.seminar-notes .list-item-copy p span.selected{
	font-weight:500;
}
.seminar-notes .list-item-copy .copy-holder{
	padding-right:45px;
}
.seminar-notes .list-item-copy .bookmark-holder{
	position:absolute;
	top:51%;
	right:10px;
	transform:translateY(-50%);
}
.seminar-notes .list-item-copy .bookmark-holder span.icon{
	font-size:20px;
	vertical-align:top;
}
.seminar-notes .form-holder .clear-icon{
	position:absolute;
	right:10px;
	top:10px;
	display:inline-block;
	width:18px;
	height:18px;
	border-radius:100%;
	background:#ed4b4b;
}
.seminar-notes .form-holder .clear-icon:after{
	content:'+';
	color:#fff;
	position:absolute;
	top:-2px;
	top:-2.5px;
	left:3px;
	font-size:19px;
	transform:rotate(45deg);
}
.seminar-notes .well p{
	font-size:13px;
}


