<div class="holder padding-zero has-bottom sticky-bottom-menu" ng-controller="WidgetBookmarkCtrl as WidgetBookmark">
  <div class="scrollable infinite-scroll-parent">
    
    <div class="seminar-notes layout3"
         infinite-scroll="WidgetBookmark.loadMore()"
         infinite-scroll-distance="1"
         data-infinite-container=".infinite-scroll-parent"
         infinite-scroll-disabled="WidgetBookmark.busy">
      <div class="list-layout">
        <p class="margin-top-twenty margin-bottom-twenty opacity-sixty text-center" ng-if="!WidgetBookmark.hasAtLeastOneBookmark">{{WidgetBookmark.languages.noBookmarksAddedYet}}</p>
        <div class="list-item" ng-if="item.isBookmarked && isFetchedAllData" ng-repeat="item in WidgetBookmark.items">
            <div class="item-click-holder ellipsis" ng-click="WidgetBookmark.openDetails(item.id)">
              <div class="square-icon list-media-holder pull-left">
                <img ng-hide="item.data.listImage" src="../../../styles/media/holder-1x1.png">
                <img ng-show="item.data.listImage" class="border-radius-three" ng-if="item.data.listImage" load-image="1x1"
                     crop-width="60" crop-height="60" crop-type="crop"
                     data-final-src="{{item.data.listImage}}">
              </div>
              <div class="copy-holder ellipsis">
                <h5 class="ellipsis margin-zero">{{item.data.title}}</h5>
                <p class="ellipsis margin-zero bodyTextTheme">{{item.data.summary}}</p>
                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy"><i>{{item.data.publishDate | date}}</i></p>
              </div>
            </div>
            <div class="bookmark-holder btn-icon primaryBackgroundTheme min-45" ng-click="WidgetBookmark.removeBookmark(item,$index)">
              <span class="icon icon-bookmark2 whiteTheme"></span>
            </div>
        </div>

      </div>
    </div>
  <div class="bottom fixed-bottom primaryBackgroundTheme bottom-zero height-45">
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetBookmark.goToItem()">{{WidgetBookmark.languages.items}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetBookmark.showItemNotes()">{{WidgetBookmark.languages.myNotes}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch active ellipsis">{{WidgetBookmark.languages.bookmarks}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetBookmark.showSearchPage()">{{WidgetBookmark.languages.search}}</a>
    </div>
  </div>
</div>
</div>
