<div class="holder padding-zero  has-bottom sticky-bottom-menu clearfix infinite-scroll-parent">
    <div class="scrollable">
        <div class="seminar-notes layout3">
            <!--<div class="plugin-slide">-->
            <!--<img src="../../../styles/media/holder-16x9.png">-->
            <!--</div>-->
            <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
                 build-fire-carousel=""
                 ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
            <div class="padded ">
                <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
            </div>
            <div class="list-layout" infinite-scroll="WidgetHome.loadMore()"
                 infinite-scroll-distance="1"
                 data-infinite-container=".infinite-scroll-parent"
                 infinite-scroll-disabled="WidgetHome.busy">
                <div class="list-item" ng-repeat="item in WidgetHome.items" ng-if="isFetchedAllData">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="list-media-holder pull-left">
                            <img ng-hide="item.data.listImage" src="../../../styles/media/holder-16x9.png">
                            <img  ng-show="item.data.listImage" class="border-radius-three" ng-if="item.data.listImage"
                                  load-image="16x9" data-final-src="{{item.data.listImage |
                       getImageUrl : 120:70}}">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                  <a  ng-click="WidgetHome.openDetails(item.id)">{{item.data.title}}</a>
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    {{item.data.summary}}
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>{{item.data.publishDate | date}}</i>
                                </p>
                            </div>
                            <fieldset class="bookmark-holder" ng-click="WidgetHome.addToBookmark(item.id)" ng-disabled="item.isBookmarked || isClicked==item.id">
                                <span class="icon icon-bookmark2 " ng-class="item.isBookmarked || isClicked==item.id?'text-primary':''"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom fixed-bottom primaryBackgroundTheme">
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch active">Items</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Notes</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Bookmarks</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Search</a>
        </div>
    </div>
</div>