<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu clearfix">
    <div class="scrollable">
        <div class="seminar-notes layout3">
            <div class="plugin-slide" ng-if="!WidgetHome.data.content.carouselImages.length">
                <img src="../../../styles/media/holder-16x9.png">
            </div>
            <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
                 build-fire-carousel=""
                 ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
            <div class="padded">
                <p class="margin-zero"  ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
            </div>
            <div class="list-layout">
                <div class="list-item">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="square-icon list-media-holder pull-left">
                            <img src="../../../styles/media/holder-1x1.png">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                    This is a title
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    This is a summary
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>June 7, 2016</i>
                                </p>
                            </div>
                            <div class="bookmark-holder">
                                <span class="icon icon-bookmark2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="square-icon list-media-holder pull-left">
                            <img src="../../../styles/media/holder-1x1.png">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                    This is a title
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    This is a summary
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>June 7, 2016</i>
                                </p>
                            </div>
                            <div class="bookmark-holder">
                                <span class="icon icon-bookmark2 text-primary"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="square-icon list-media-holder pull-left">
                            <img src="../../../styles/media/holder-1x1.png">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                    This is a title
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    This is a summary
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>June 7, 2016</i>
                                </p>
                            </div>
                            <div class="bookmark-holder">
                                <span class="icon icon-bookmark2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="square-icon list-media-holder pull-left">
                            <img src="../../../styles/media/holder-1x1.png">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                    This is a title
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    This is a summary
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>June 7, 2016</i>
                                </p>
                            </div>
                            <div class="bookmark-holder">
                                <span class="icon icon-bookmark2 text-primary"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item-media text-left overflow-hidden">
                        <div class="square-icon list-media-holder pull-left">
                            <img src="../../../styles/media/holder-1x1.png">
                        </div>
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <div class="copy-holder">
                                <p class="ellipsis margin-zero text-primary margin-top-five">
                                    This is a title
                                </p>

                                <p class="ellipsis margin-zero bodyTextTheme">
                                    This is a summary
                                </p>

                                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                    <i>June 7, 2016</i>
                                </p>
                            </div>
                            <div class="bookmark-holder">
                                <span class="icon icon-bookmark2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom fixed-bottom primaryBackgroundTheme">
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch active" ng-click="WidgetHome.Items()">Items</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Notes</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Bookmarks</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch">Search</a>
        </div>
    </div>
</div>
