<div class="holder padding-zero load-in has-bottom sticky-bottom-menu clearfix">
	<div class="scrollable infinite-scroll-parent">
		<div class="seminar-notes layout4" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
			 infinite-scroll-distance="1"
			 data-infinite-container=".infinite-scroll-parent"
			 infinite-scroll-disabled="WidgetHome.busy">

			<div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
				 build-fire-carousel=""
				 ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
			<div class="main-header" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
				<p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
			</div>

			<div class="plugin-banner hasBackground" >
				<div class="plugin-slide" ng-repeat="item in WidgetHome.items" ng-if="isFetchedAllData">
					<img ng-hide="item.data.listImage" src="../../../styles/media/holder-16x9.png">
					<img ng-show="item.data.listImage" class="border-radius-three" ng-if="item.data.listImage" load-image="16x9"
                         crop-width="{{deviceWidth}}" crop-height="183" crop-type="crop"
												 data-final-src="{{item.data.listImage}}">
												 
					<div class="blackLayer"></div>
					<div ng-hide="item.data.listImage" class="backgroundLayer" style="background:url('../../../styles/media/holder-16x9.png');"></div>
					<div ng-show="item.data.listImage" class="backgroundLayer" style="background:url({{item.data.listImage}});"></div>		

					<div class="item-text" ng-click="WidgetHome.openDetails(item.id)">
						<h5 class="ellipsis item-title whiteTheme">{{item.data.title}}</h5>
						<p class="ellipsis item-summary margin-zero whiteTheme">{{item.data.summary}} </p>
						<p class="ellipsis caption item-date margin-zero whiteTheme">{{item.data.publishDate | date}}</p>
					</div>
					<!-- Use these theme classes when inactive/not selected -->
					<div ng-if="WidgetHome.currentLoggedInUser" class="bookmark-icon btn-icon"
                     ng-class="item.isBookmarked?'transparent-background':'primaryBackgroundTheme'" ng-click="WidgetHome.addToBookmark(item,item.isBookmarked, $index)">
						<span class="icon icon-bookmark2  " ng-class="item.isBookmarked?'whiteTheme':'whiteTheme'"></span>
					</div>
					<div class="item-click-holder" ng-click="WidgetHome.openDetails(item.id)"></div>
				</div>
			</div>

			<div class="text-center" ng-show="WidgetHome.busy">
				<buildfire-spinner></buildfire-spinner>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom primaryBackgroundTheme clearfix bottom-zero">
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch active">Items</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch" ng-click="WidgetHome.showItemNotes()">My Notes</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch" ng-click="WidgetHome.showBookmarkItems()">Bookmarks</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch" ng-click="WidgetHome.showSearchPage()">Search</a>
		</div>
	</div>
</div>
