<div
    class="seminar-notes layout3 holder padding-zero has-bottom has-extra-links">
  <div class="plugin-slide">
    <img src="../../../styles/media/holder-16x9.png">
  </div>
  <div class="padded">
    <p class="margin-zero text-primary ellipsis">{{WidgetItem.item.data
      .title}}</p>

    <p class="margin-zero ellipsis">{{WidgetItem.item.data
      .summary}}</p>

    <p class="margin-zero small"><i>{{WidgetItem.item.data
      .publishDate | date}}</i></p>
    <hr class="small">
    <div class="text-center">
      <a class="text-primary">Open Menu Options</a>
    </div>
    <hr class="small">
    <p class="margin-zero"  ng-bind-html="WidgetItem.safeHtml(WidgetItem.item.data.description)"></p>
  </div>
  <div class="bottom fixed-bottom titleBarBackgroundTheme">
    <div class="extra-links">
      <!-- When Inactive, use these theme classes -->
      <a class="titleBarBackgroundTheme">
        <span class="icon icon-bookmark2 titleBarTextAndIcons"></span>
      </a>
      <!-- On active, use these theming classes -->
      <a class="titleBarTextAndIconsBackground">
        <span class="icon icon-pencil5 titleBarTheme"></span>
      </a>
    </div>
    <div class="col-xs-12 pull-left text-center">
      <a class="titleBarTextAndIcons stretch">Notes</a>
    </div>
  </div>
</div>
