<div
    class="seminar-notes layout3 holder padding-zero has-bottom has-extra-links">
  <div class="plugin-slide">
    <img src="../../../styles/media/holder-16x9.png">
  </div>
  <div class="padded">
    <p class="margin-zero text-primary ellipsis">Item title goes here. Item
      title goes here.</p>

    <p class="margin-zero ellipsis">Item summary. Item summary. Item summary.
      Item summary. Item summary.</p>

    <p class="margin-zero small"><i>June 27, 2016</i></p>
    <hr class="small">
    <div class="text-center">
      <a class="text-primary">Open Menu Options</a>
    </div>
    <hr class="small">
    <p class="margin-zero">Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.</p>
  </div>
  <div class="bottom fixed-bottom titleBarBackgroundTheme">
    <div class="extra-links">
      <!-- When Inactive, use these theme classes -->
      <a class="titleBarBackgroundTheme">
        <span class="icon icon-bookmark2 titleBarTextAndIcons"></span>
      </a>
      <!-- On active, use these theming classes -->
      <a class="titleBarTextAndIconsBackground">
        <span class="icon icon-pencil5 titleBarTheme"></span>
      </a>
    </div>
    <div class="col-xs-12 pull-left text-center">
      <a class="titleBarTextAndIcons stretch">Notes</a>
    </div>
  </div>
</div>
