
<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu">
<div class="scrollable">
    <div class="seminar-notes layout3" style="padding-bottom:45px;">
        <div class="plugin-slide">
            <img src="../../../styles/media/holder-16x9.png">
        </div>
        <div class="padded">
            <p class="margin-zero" style="font-size:15px;">{{WidgetItem.item.data
                .title}}</p>
            <p class="margin-zero">{{WidgetItem.item.data
                .summary}}</p>
            <p class="margin-zero small"><i>{{WidgetItem.item.data
                .publishDate | date}}</i></p>
            <hr class="small">
            <div class="text-center">
                <a class="text-primary">Open Menu Options</a>
            </div>
            <hr class="small">
            <p class="margin-zero"ng-bind-html="WidgetItem.safeHtml(WidgetItem.item.data.description)"></p>
        </div>
    </div>
</div>
<div class="bottom fixed-bottom primaryBackgroundTheme has-content open transition-third"  >
    <div class="extra-links">
        <!-- When Inactive, use these theme classes -->
        <a class="bg-primary">
            <span class="icon icon-bookmark2 whiteTheme"></span>
        </a>
    </div>
    <div class="col-xs-6 pull-left text-center">
        <a class="whiteTheme stretch" ng-click="WidgetItem.showHideMenu()">Open/Close Note List</a>
    </div>
    <div class="col-xs-6 pull-left text-center">
        <a class="whiteTheme stretch">Add New Note / Done</a>
    </div>
    <div class="col-xs-12 hidden-content" ng-hide="toggle">
        <div class="content note-list active clearfix">
            <div class="seminar-notes layout3">
                <div class="list-layout">
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left edit">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-media text-left">
                            <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                <p class="ellipsis margin-zero margin-top-five clearfix">
                                    <span class="pull-left ellipsis" style="max-width:65%;">Supernoves</span>
                                    <span class="pull-right small opacity-seventy"><i>June 7, 2016</i></span>
                                </p>
                                <p class="small ellipsis margin-zero bodyTextTheme">
                                    Item Title Item Title Item Title Item Title Item Title Item Title Item Title
                                </p>
                            </div>
                            <div class="remove-btn text-center dangerBackgroundTheme" style="background:red;">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content add-note activ clearfix">
            <div class="form-holder">
                <input type="text" name="note-title" placeholder="Note Title" class="form-control border-none padding-left-zero padding-right-zero">
                <hr class="margin-zero">
                <textarea placeholder="Note Summary" class="form-control border-none padding-left-zero padding-right-zero"></textarea>
            </div>
        </div>
    </div>
</div>
</div>