<div class=" holder padding-zero load-in has-bottom sticky-bottom-menu clearfix">
	<div class="scrollable infinite-scroll-parent" ng-if="WidgetHome.data.content"
		infinite-scroll="WidgetHome.loadMore()" infinite-scroll-distance="1"
		data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetHome.busy">
		<div class="seminar-notes layout5">
			<!--<div class="plugin-slide">-->
			<!--<img src="../../../styles/media/holder-16x9.png">-->
			<!--</div>-->
			<div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length" build-fire-carousel=""
				ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}">
			</div>
			<div class="main-header" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
				<p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
			</div>
			<p class="margin-top-twenty margin-bottom-twenty opacity-sixty text-center ver-center" ng-if="!WidgetHome.items || WidgetHome.released.length == 0"
			ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'top': '60%' } : {}"
			>
				{{WidgetHome.languages.noItems}}
				<img style="margin-top: 35px;" src="./images/empty_page.svg"/>
			</p>
			<div class="notes items-grid">
				<div class="plugin-banner overflow-hidden grid-item" ng-repeat="item in WidgetHome.released"
					ng-if="isFetchedAllData  && !item.data['__$Deleted']" ng-class="shouldLockItem(item.data.rank)" id="{{ 'seminarItem' + item.data.rank }}">
					<div class="plugin-slide">
						<img ng-hide="item.data.listImage" src="../../../styles/media/holder-1x1.png" style="opacity: 0;">
						<img ng-show="item.data.listImage" ng-if="item.data.listImage" load-image="1x1" crop-width="162"
							crop-height="162" crop-type="crop" data-final-src="{{item.data.listImage}}">
						<div class="blackLayer">
							<div class="image-overlay">
                                <div>
									<img src="./images/lock-icon.svg">
                                </div>
                            </div>
						</div>
						<div class="item-header">
							<p class="published-at item-date caption margin-zero whiteTheme ellipsis min-width-30">
								{{item.data.publishDate | date}}&nbsp;</p>
							<div class="countdown available-in" ng-hide="hideCountdown" ng-if="(seminarLastDocument.rank + 1) === item.data.rank && seminarLastDocument.nextAvailableIn">
								<div class="timer small ellipsis">
									<span style="display: block; line-height: 1;">Available In:</span>
									<b>
										<span id="timer-days" ng-if="days && days !== '00'">{{days || '00'}}d</span>
										<span id="timer-hours" ng-if="(days && days !== '00') || (hours && hours !== '00')">{{hours || '00'}}h</span>
										<span id="timer-mins">{{minutes || '00'}}m</span>
										<span id="timer-secs">{{seconds || '00'}}s</span>
									</b>
								</div>
							</div>
							<div ng-if="WidgetHome.currentLoggedInUser" class="bookmark-icon btn-icon"
								ng-class="item.isBookmarked?'primaryBackgroundTheme':'transparent-background'"
								ng-click="WidgetHome.addToBookmark(item,item.isBookmarked, $index)">
								<span class="icon icon-bookmark2 whiteTheme"></span>
							</div>
						</div>
						<div class="item-text">
							<h5 class="item-title margin-zero whiteTheme ellipsis">{{item.data.title}}</h5>
							<p class="item-summary margin-zero  whiteTheme ellipsis">{{item.data.summary}}</p>
						</div>
						<div class="item-click-holder" ng-click="WidgetHome.openDetails(item.id, item.data.rank, $index)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" ng-show="WidgetHome.busy">
		<buildfire-spinner></buildfire-spinner>
	</div>
	<div class="bottom fixed-bottom primaryBackgroundTheme clearfix bottom-zero height-45">
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch active ellipsis">{{WidgetHome.languages.items}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showItemNotes()">{{WidgetHome.languages.myNotes}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showBookmarkItems()">{{WidgetHome.languages.bookmarks}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showSearchPage()">{{WidgetHome.languages.search}}</a>
        </div>
    </div>
</div>