<div class="holder padding-zero load-in has-bottom sticky-bottom-menu clearfix">
    <div class="scrollable infinite-scroll-parent">
        <div class="seminar-notes layout3">
            <!--<div class="plugin-slide">-->
            <!--<img src="../../../styles/media/holder-16x9.png">-->
            <!--</div>-->
            <div id="carousel" class="sliderCarousel hide">
            </div>
            <div class="main-header" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
                <p class="margin-zero" ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
            </div>
            <div class="list-layout" ng-if="WidgetHome.data.content" infinite-scroll="WidgetHome.loadMore()"
                infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent"
                ng-style="!WidgetHome.items || WidgetHome.released.length == 0 ? {'position': 'unset' } : {}"
                infinite-scroll-disabled="WidgetHome.busy">
                <p class="margin-top-twenty margin-bottom-twenty opacity-sixty text-center ver-center" 
                ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'top': '60%' } : {}"
                ng-if="!WidgetHome.items || WidgetHome.released.length == 0">
                    {{WidgetHome.languages.noItems}}
                    <img style="margin-top: 35px;" src="./images/empty_page.svg"/>
                </p>
                <div class="list-item" ng-repeat="item in WidgetHome.released" ng-if="isFetchedAllData && !item.data['__$Deleted']" ng-class="shouldLockItem(item.data.rank)" id="{{ 'seminarItem' + item.data.rank }}">
                    <div class="item-click-holder ellipsis" ng-click="WidgetHome.openDetails(item.id, item.data.rank, $index)">
                        <div class="square-icon list-media-holder pull-left overflow-hidden" ng-if="item.data.listImage || (!item.data.listImage && shouldLockItem(item.data.rank) === 'locked')">
                            <img ng-if="item.data.listImage" class="border-radius-three" load-image="1x1" crop-width="60" crop-height="60"
                                crop-type="crop" data-final-src="{{item.data.listImage}}">
                            <div class="image-overlay">
                                <div>
                                    <img src="./images/lock-icon.svg">
                                </div>
                            </div>
                        </div>
                        <div class="copy-holder ellipsis">
                            <h5 class="ellipsis margin-zero">{{item.data.title}}</h5>
                            <p class="ellipsis margin-zero bodyTextTheme">{{item.data.summary}}</p>
                            <p class="published-at small ellipsis margin-zero bodyTextTheme opacity-seventy">
                                <i>{{item.data.publishDate | date}}</i>
                            </p>
                            <div class="countdown available-in" ng-hide="hideCountdown" ng-if="(seminarLastDocument.rank + 1) === item.data.rank && seminarLastDocument.nextAvailableIn">
                                <div class="timer small ellipsis">
                                    Available In:&nbsp;
                                    <b>
                                        <span id="timer-days" ng-if="days && days !== '00'">{{days || '00'}}d</span>
                                        <span id="timer-hours" ng-if="(days && days !== '00') || (hours && hours !== '00')">{{hours || '00'}}h</span>
                                        <span id="timer-mins">{{minutes || '00'}}m</span>
                                        <span id="timer-secs">{{seconds || '00'}}s</span>
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="bookmark-holder" ng-if="WidgetHome.currentLoggedInUser && WidgetHome.allowSharing"
                        ng-click="WidgetHome.shareContent(item, $index)">
                        <span class="icon btn-icon icon-link2"></span>
                    </div> -->
                    <div ng-if="WidgetHome.currentLoggedInUser" class="bookmark-holder"
                        ng-click="WidgetHome.addToBookmark(item,item.isBookmarked, $index)">
                        <span class="icon btn-icon icon-bookmark2 "
                            ng-class="!item.isBookmarked?'':'primaryBackgroundTheme whiteTheme'"></span>
                    </div>
                </div>

                <div class="text-center" ng-show="WidgetHome.busy">
                    <buildfire-spinner></buildfire-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom fixed-bottom primaryBackgroundTheme clearfix bottom-zero  height-45">
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch active ellipsis">{{WidgetHome.languages.items}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showItemNotes()">{{WidgetHome.languages.myNotes}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showBookmarkItems()">{{WidgetHome.languages.bookmarks}}</a>
        </div>
        <div class="col-xs-3 pull-left text-center">
            <a class="whiteTheme stretch ellipsis" ng-click="WidgetHome.showSearchPage()">{{WidgetHome.languages.search}}</a>
        </div>
    </div>
</div>