<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu" ng-controller="WidgetItemCtrl as WidgetItem">
    <div class="scrollable">

        <div class="seminar-notes layout3" ng-class="{'scroll-y' : WidgetItem.forceScroll}" style="padding-bottom:45px;" ng-if="WidgetItem.item.data">
            <!--<div class="plugin-slide">-->
            <!--<img src="../../../styles/media/holder-16x9.png">-->
            <!--</div>-->
            <div id="carousel2" ng-if="WidgetItem.item.data.carouselImages.length" build-fire-carousel2="" ng-style="WidgetItem.item.data.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>

            <div class="padded">
                <p class="margin-zero" style="font-size:15px;">{{WidgetItem.item.data .title}}
                </p>

                <p class="margin-zero">{{WidgetItem.item.data .summary}}
                </p>

                <p class="margin-zero small"><i>{{WidgetItem.item.data
          .publishDate | date}}</i></p>
                <hr class="small" ng-if="WidgetItem.item.data.links.length">
                <div class="text-center" ng-if="WidgetItem.item.data.links.length">
                    <a class="text-primary" ng-click="WidgetItem.openLinks(WidgetItem.item.data.links, $event)">Open
            Menu Options</a>
                </div>
                <hr class="small">
                <p class="margin-zero" ng-bind-html="WidgetItem.safeHtml(WidgetItem.item.data.description)"></p>
            </div>
        </div>
    </div>
    <div class="bottom fixed-bottom primaryBackgroundTheme has-content open transition-third">
        <div class="extra-links" ng-if="WidgetItem.currentLoggedInUser">
            <!-- When Inactive, use these theme classes -->
            <a class="bg-primary" ng-click="WidgetItem.addToBookmark(WidgetItem.item.id,WidgetItem.item, WidgetItem.item.isBookmarked )" ng-class="WidgetItem.item.isBookmarked?'bookmarked':''">
                <span class="icon icon-bookmark2 whiteTheme"></span>
            </a>
        </div>
        <div class="pull-left text-center" disable-animate ng-hide="toggleNoteAdd" ng-class="toggleNoteList?'col-xs-12':'col-xs-6'">
            <a class="whiteTheme stretch" disable-animate ng-click="WidgetItem.showHideNoteList()" ng-hide="toggleNoteList">Open Item Notes</a>
            <a class="whiteTheme stretch" disable-animate ng-click="WidgetItem.showHideNoteList()" ng-show="toggleNoteList && !showNoteDescription">Close Note List </a>
            <a class="whiteTheme stretch" disable-animate ng-click="WidgetItem.showNoteList()" ng-show="showNoteDescription">Back to Note List</a>
        </div>
        <div class="pull-left text-center" disable-animate ng-hide="toggleNoteList" ng-class="toggleNoteAdd?'col-xs-12':'col-xs-6'">
            <a class="whiteTheme stretch" disable-animate ng-click="WidgetItem.showHideAddNote()" ng-hide="toggleNoteAdd">Add
        New Note</a>
            <a class="whiteTheme stretch" disable-animate ng-click="WidgetItem.showHideAddNote()" ng-show="toggleNoteAdd">
        Done</a>
        </div>


        <div class="col-xs-12 hidden-content infinite-scroll-parent backgroundColorTheme" ng-show="toggleNoteList || toggleNoteAdd">
            <div class="content note-list clearfix" ng-class="showNoteList?'active':''">
                <div class="seminar-notes layout3">
                    <div class="list-layout" infinite-scroll="WidgetItem.loadMore()" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetItem.busy">
                        <div class="list-item" ng-repeat="note in WidgetItem.ItemNoteList" ng-swipe-left="WidgetItem.swipeToDeleteNote($event, $index, true)" ng-swipe-right="WidgetItem.swipeToDeleteNote($event, $index, false)" ng-if="!showNoteDescription">
                            <div class="list-item-media text-left" ng-class="{'edit' : WidgetItem.swiped[$index]}" ng-click=" WidgetItem.editNote(note.id)">
                                <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                                    <p class="ellipsis margin-zero margin-top-five clearfix">
                                        <span class="pull-left ellipsis" style="max-width:65%; cursor: pointer" ng-if="note.data.noteTitle">{{note.data.noteTitle}}</span>
                                        <span class="pull-left ellipsis" ng-if="!note.data.noteTitle">--</span>
                                        <span class="pull-right small opacity-seventy"><i>{{note.data.dateAdded | date}}</i></span>
                                    </p>

                                    <p class="small ellipsis margin-zero bodyTextTheme">
                                        {{note.data.noteDescription}}
                                    </p>
                                </div>
                                <div class="remove-btn text-center dangerBackgroundTheme" style="background:red; cursor: pointer" ng-click="WidgetItem.deleteNote(note.id, $index)">
                                    <span>Delete</span>
                                </div>
                            </div>
                        </div>
                        <div class="add-note clearfix" ng-if="showNoteDescription">

                            <div class="form-holder form-holder-custom">
                                <input type="text" name="note-title" placeholder="Enter Note Title" class="form-control border-none padding-left-zero padding-right-zero" ng-model="WidgetItem.Note.noteTitle">
                                <hr class="margin-zero">
                                <textarea placeholder="Enter note content" class="form-control border-none padding-left-zero padding-right-zero" ng-model="WidgetItem.Note.noteDescription"></textarea>
                                <!--<a class="btn btn-primary stretch" ng-click="WidgetItem.addNoteToItem(WidgetItem.item.id)">Add Note</a>-->
                                <div class="savedMessage successBackgroundTheme text-center" ng-class="{'active': WidgetItem.isNoteSaved}">
                                    <p class="text-success whiteTheme margin-zero">Saved</p>
                                </div>
                            </div>
                            <!--<p class="ellipsis margin-zero margin-top-five clearfix">-->
                            <!--<span class="pull-left" style="max-width:65%; cursor: pointer;" ng-click="WidgetItem.editNote(WidgetItem.noteDetail.id)">{{WidgetItem.noteDetail.data.noteTitle}}</span>-->
                            <!--</p>-->
                            <!--<hr class="margin-zero">-->
                            <!--<p class="small margin-zero bodyTextTheme">-->
                            <!--{{WidgetItem.noteDetail.data.noteDescription}}-->
                            <!--</p>-->
                        </div>
                    </div>

                </div>
            </div>

            <div class="content add-note clearfix" ng-class="showNoteAdd ?'active':''">
                <div class="form-holder form-holder-custom">
                    <input type="text" name="note-title" placeholder="Enter Note Title" class="form-control border-none padding-left-zero padding-right-zero" ng-model="WidgetItem.Note.noteTitle">
                    <hr class="margin-zero">
                    <textarea placeholder="Enter note content" class="form-control border-none padding-left-zero padding-right-zero" ng-model="WidgetItem.Note.noteDescription"></textarea>
                    <!--<a class="btn btn-primary stretch" ng-click="WidgetItem.addNoteToItem(WidgetItem.item.id)">Add Note</a>-->
                    <div class="savedMessage successBackgroundTheme text-center" ng-class="{'active': WidgetItem.isNoteSaved}">
                        <p class="text-success whiteTheme margin-zero">Saved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>