<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu" ng-controller="WidgetNotesCtrl as WidgetNotes">
    <div class="scrollable infinite-scroll-parent">
        <div class="seminar-notes layout3">
            <div class="form-holder search-holder backgroundColorTheme bodyTextTheme">
                <input type="text" class="border-none form-control bodyTextTheme search"
                    placeholder="{{WidgetNotes.languages.searchNoteTitlesAndContent}}" ng-model="WidgetNotes.search"
                    ng-change="WidgetNotes.clearTextBox()">
                <span class="clear-icon dangerBackgroundTheme" ng-if="WidgetNotes.search"
                    ng-click="WidgetNotes.clearSearchResult()"></span>
            </div>
            <div class="list-layout search-list" infinite-scroll="WidgetNotes.loadMore()" infinite-scroll-distance="1"
            ng-style="WidgetNotes.noItemFound ? {'position': 'unset' } : {}"     
            data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetNotes.busy">
                <p class="margin-top-twenty margin-bottom-twenty opacity-sixty text-center ver-center"
                    ng-if="WidgetNotes.noItemFound">
                    {{WidgetNotes.languages.noNotesAddedYet}}
                    <img style="margin-top: 35px;" src="./images/empty_page.svg"/>
                </p>
                <div class="list-item swipe-item" ng-hide="WidgetNotes.noItemFound"
                    ng-repeat="note in WidgetNotes.Notes"
                    ng-swipe-left="WidgetNotes.swipeToDeleteNote($event, $index, true)"
                    ng-swipe-right="WidgetNotes.swipeToDeleteNote($event, $index, false)">
                    <div class="list-item-media text-left" ng-class="{'edit' : WidgetNotes.swiped[$index]}"
                        ng-click="WidgetNotes.openDetails(note.data.itemID, note.id, note.data.itemRank)">
                        <div class="list-item-copy">
                            <div class="note-details ellipsis">
                                <p class="ellipsis caption">{{note.data.itemTitle}}</p>
                                <p class="caption">{{note.data.dateAdded|date}}</p>
                            </div>
                            <h5 class="ellipsis">{{note.data.noteTitle}}</h5>
                            <p class="ellipsis margin-zero bodyTextTheme">{{note.data.noteDescription}}</p>
                        </div>
                        <div class="remove-btn text-center dangerBackgroundTheme"
                            ng-click="WidgetNotes.deleteNote(note.id, $index)">
                            <span class="whiteTheme">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom fixed-bottom primaryBackgroundTheme bottom-zero height-45">
            <div class="col-xs-3 pull-left text-center">
                <a class="whiteTheme stretch ellipsis"
                    ng-click="WidgetNotes.showItemList()">{{WidgetNotes.languages.items}}</a>
            </div>
            <div class="col-xs-3 pull-left text-center">
                <a class="whiteTheme stretch active ellipsis">{{WidgetNotes.languages.myNotes}}</a>
            </div>
            <div class="col-xs-3 pull-left text-center">
                <a class="whiteTheme stretch ellipsis"
                    ng-click="WidgetNotes.showBookmarkItems()">{{WidgetNotes.languages.bookmarks}}</a>
            </div>
            <div class="col-xs-3 pull-left text-center">
                <a class="whiteTheme stretch ellipsis"
                    ng-click="WidgetNotes.showSearchPage()">{{WidgetNotes.languages.search}}</a>
            </div>
        </div>
    </div>
</div>