<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu" ng-controller="WidgetSearchCtrl as WidgetSearch">
  <div class="scrollable">
    <div class="seminar-notes layout3">
      <div class="form-holder">
        <input type="text" class="border-none form-control bodyTextTheme"
               placeholder="Enter keywords or phrase to search items"
               ng-model="WidgetSearch.keyword">
        <span class="clear-icon dangerBackgroundTheme"
              ng-if="WidgetSearch.keyword"
              ng-click="WidgetSearch.clearSearchResult()"></span>
        <hr class="small margin-zero">
      </div>
      <div
          class="well well-sm text-center margin-top-twenty margin-left-ten margin-right-ten hidde" ng-if="WidgetSearch.items.length < 1">
        <p class="margin-top-ten">No search results.</p>
      </div>
      <div class="list-layout" ng-if="WidgetSearch.items.length">
        <div class="list-item" ng-repeat="item in WidgetSearch.items" ng-if="isFetchedAllData">
          <div class="list-item-media text-left overflow-hidden">
            <div class="square-icon list-media-holder pull-left">
              <img ng-if="!item.data.listImage"
                   src="../../../styles/media/holder-1x1.png">
              <img ng-if="item.data.listImage"
                   src="{{item.data.listImage |
                       getImageUrl : 60:60}}">
            </div>
            <div
                class="list-item-copy text-left padding-left-ten padding-right-ten">
              <div class="copy-holder">
                <p class="ellipsis margin-zero text-primary margin-top-five">
                  <span><a ng-click="WidgetSearch.openDetails(item.id)">{{item.data
                    .title}}</a></span>
                </p>

                <p class="ellipsis margin-zero bodyTextTheme">
                  <span>{{item.data.summary}}</span>
                </p>

                <p class="small ellipsis margin-zero bodyTextTheme opacity-seventy">
                  <i>{{item.data.publishDate | date}}</i>
                </p>
              </div>
              <fieldset class="bookmark-holder" ng-click="WidgetSearch.addToBookmark(item.id)" ng-disabled="item.isBookmarked || isClicked==item.id">
                <span class="icon icon-bookmark2 " ng-class="item.isBookmarked || isClicked==item.id?'text-primary':''"></span>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom fixed-bottom primaryBackgroundTheme">
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch" ng-click="WidgetSearch.showItemList()">Items
      </a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch"
         ng-click="WidgetSearch.showNotesList()">Notes
      </a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch"
         ng-click="WidgetSearch.showBookmarkList()">Bookmarks</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch active">Search</a>
    </div>
  </div>
</div>
