<div class="no-scroll holder padding-zero has-bottom sticky-bottom-menu" ng-controller="WidgetSearchCtrl as WidgetSearch">
  <div class="scrollable">
    <div class="seminar-notes layout3">
      <div class="form-holder search-holder backgroundColorTheme bodyTextTheme">
        <input type="text" class="border-none form-control bodyTextTheme search needsclick"
               placeholder="{{WidgetSearch.languages.enterKeywordsOrPhraseToSearchItems}}"
               ng-model="WidgetSearch.keyword">
        <span class="clear-icon dangerBackgroundTheme"
              ng-if="WidgetSearch.keyword"
              ng-click="WidgetSearch.clearSearchResult()"></span>
        <hr class="small margin-zero" ng-if="WidgetSearch.released.length == 0 || !WidgetSearch.keyword">
      </div>
      <div class="search-list">
        <p class="margin-top-twenty margin-bottom-twenty opacity-sixty text-center" ng-if="WidgetSearch.released.length == 0 || !WidgetSearch.keyword">{{WidgetSearch.languages.noSearchResults}}</p>
        <div class="list-layout" ng-if="WidgetSearch.items.length && WidgetSearch.keyword">

          <div class="list-item" ng-repeat="item in WidgetSearch.released" ng-if="isFetchedAllData">
            <div class="item-click-holder ellipsis" ng-click="WidgetSearch.openDetails(item.id)">
              <div class="square-icon list-media-holder">
                <img ng-if="!item.data.listImage"
                    src="../../../styles/media/holder-1x1.png">
                <img ng-if="item.data.listImage"
                    load-image="1x1" crop-width="60" crop-height="60" crop-type="crop"
                    data-final-src="{{item.data.listImage}}">
              </div>
              <div class="copy-holder ellipsis">
                <h5 class="ellipsis margin-zero">{{item.data.title}}</h5>
                <p class="ellipsis margin-zero">{{item.data.summary}}</p>
                <p class="caption ellipsis margin-zero"><i>{{item.data.publishDate | date}}</i></p>
              </div>
            </div>
            <div class="bookmark-holder" ng-click="WidgetSearch.addToBookmark(item.id, item.isBookmarked, $index, item)">
              <span class="icon btn-icon icon-bookmark2 " ng-class="item.isBookmarked?'primaryBackgroundTheme whiteTheme':''"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="bottom fixed-bottom primaryBackgroundTheme bottom-zero height-45">
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetSearch.showItemList()">{{WidgetSearch.languages.items}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetSearch.showNotesList()">{{WidgetSearch.languages.myNotes}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch ellipsis" ng-click="WidgetSearch.showBookmarkList()">{{WidgetSearch.languages.bookmarks}}</a>
    </div>
    <div class="col-xs-3 pull-left text-center">
      <a class="whiteTheme stretch active ellipsis">{{WidgetSearch.languages.search}}</a>
    </div>
  </div>
</div>
