<!-- <div class="settings-screen"> -->
<!--     <div class="tabs">
        <button type="button" class="active">General</button>
    </div> -->
 <!--    <div class="general-screen"> -->
    <div>
        <div class="setting-toggle">
        <p class="setting-label">
            Allow Content Sharing
        </p>
        <div class="buttons">
            <button ng-class="{'active': Settings.data.allowSharing}" ng-click="Settings.setAllowShare(true)">On</button>
            <button class="toLeft" ng-class="{'active': !Settings.data.allowSharing}" ng-click="Settings.setAllowShare(false)">Off</button>
        </div>
        </div>
        <div class="setting-toggle-children">
        </div>
    </div>
<!--     </div>
</div> -->