
<div class="no-scroll holder padding-zero has-bottom">
	<div class="scrollable">
		<div class="seminar-notes layout4">
			<div class="plugin-slide">
				<img src="../../../styles/media/holder-16x9.png">
			</div>
			<div class="padded">
				<p class="margin-zero">this is a wysiwyg. this is a wysiwyg. this is a wysiwyg.</p>
			</div>
			<div class="plugin-banner hasBackground">
				<div class="plugin-slide">
					<img src="../../../styles/media/holder-16x9.png">
					<div class="blackLayer"></div>
					<div class="backgroundLayer" style="background:url('../../../styles/media/holder-1x1.png');"></div>
					<div class="item-text">
						<p class="ellipsis item-title margin-zero whiteTheme text-center">Long title. Long title. Long title. Long title. Long title.</p>
						<p class="ellipsis item-summary margin-zero whiteTheme text-center">Long summary. Long summary. Long summary. Long summary. Long summary. </p>
						<p class="ellipsis item-date margin-zero whiteTheme text-center">July 7, 2016</p>
					</div>
					<!-- Use these theme classes when inactive/not selected -->
					<div class="bookmark-icon primaryBackgroundTheme">
						<span class="icon icon-bookmark2 whiteTheme"></span>
					</div>
				</div>
			</div>
			<div class="plugin-banner hasBackground">
				<div class="plugin-slide">
					<img src="../../../styles/media/holder-16x9.png">
					<div class="blackLayer"></div>
					<div class="backgroundLayer" style="background:url('../../../styles/media/holder-1x1.png');"></div>
					<div class="item-text">
						<p class="ellipsis item-title margin-zero whiteTheme text-center">Long title.</p>
						<p class="ellipsis item-summary margin-zero whiteTheme text-center">Long summary.</p>
						<p class="ellipsis item-date margin-zero whiteTheme text-center">July 7, 2016</p>
					</div>
					<!-- Use these theme classes when active/selected -->
					<div class="bookmark-icon whiteBackgroundTheme">
						<span class="icon icon-bookmark2 text-primary"></span>
					</div>
				</div>
			</div>
			<div class="plugin-banner hasBackground">
				<div class="plugin-slide">
					<img src="../../../styles/media/holder-16x9.png">
					<div class="blackLayer"></div>
					<div class="backgroundLayer" style="background:url('../../../styles/media/holder-1x1.png');"></div>
					<div class="item-text">
						<p class="ellipsis item-title margin-zero whiteTheme text-center">Long title.</p>
						<p class="ellipsis item-summary margin-zero whiteTheme text-center">Long summary.</p>
						<p class="ellipsis item-date margin-zero whiteTheme text-center">July 7, 2016</p>
					</div>
					<div class="bookmark-icon primaryBackgroundTheme">
						<span class="icon icon-bookmark2 whiteTheme"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom primaryBackgroundTheme">
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch active">Items</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Notes</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Bookmarks</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Search</a>
		</div>
	</div>
</div>
