<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- CSS -->
	<link href="../../../../styles/helper.css" rel="stylesheet">
	<link href="../../../../styles/siteIcons.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">
	
	<!-- JS -->
	<script src="../../../scripts/buildfire.js"></script>
   
 	<!--
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>

    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    -->
</head>
<body class="no-scroll holder padding-zero has-bottom">
	<div class="scrollable">
		<div class="seminar-notes layout5">
			<div class="plugin-slide">
				<img src="../../../styles/media/holder-16x9.png">
			</div>
			<div class="padded">
				<p class="margin-zero">this is a wysiwyg. this is a wysiwyg. this is a wysiwyg.</p>
			</div>
			<div class="notes">
				<div class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero">
					<div class="plugin-slide">
						<img src="../../../styles/media/holder-1x1.png">
						<div class="blackLayer"></div>
						<div class="item-text">
							<p class="item-title margin-zero whiteTheme text-center">Find Your Adventure</p>
							<p class="item-summary margin-zero whiteTheme text-center">This is a summary that goes here.</p>
							<p class="item-date margin-zero whiteTheme text-center">July 7, 2016</p>
						</div>
						<!-- Use these theme classes when inactive/not selected -->
						<div class="bookmark-icon primaryBackgroundTheme">
							<span class="icon icon-bookmark2 whiteTheme"></span>
						</div>
					</div>
				</div>
				<div class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero">
					<div class="plugin-slide">
						<img src="../../../styles/media/holder-1x1.png">
						<div class="blackLayer"></div>
						<div class="item-text">
							<p class="item-title margin-zero whiteTheme text-center">Item with no summary or date</p>
						</div>
						<!-- Use these theme classes when active/selected -->
						<div class="bookmark-icon whiteBackgroundTheme">
							<span class="icon icon-bookmark2 text-primary"></span>
						</div>
					</div>
				</div>
				<div class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero">
					<div class="plugin-slide">
						<img src="../../../styles/media/holder-1x1.png">
						<div class="blackLayer"></div>
						<div class="item-text">
							<p class="item-title margin-zero whiteTheme text-center">Item with no summary</p>
							<p class="item-date margin-zero whiteTheme text-center">July 7, 2016</p>
						</div>
						<div class="bookmark-icon primaryBackgroundTheme">
							<span class="icon icon-bookmark2 whiteTheme"></span>
						</div>
					</div>
				</div>
				<div class="plugin-banner col-xs-6 pull-left overflow-hidden padding-zero">
					<div class="plugin-slide">
						<img src="../../../styles/media/holder-1x1.png">
						<div class="blackLayer"></div>
						<div class="item-text">
							<p class="item-title margin-zero whiteTheme text-center">Long title.</p>
							<p class="item-summary margin-zero whiteTheme text-center">Long summary.</p>
							<p class="item-date margin-zero whiteTheme text-center">July 7, 2016</p>
						</div>
						<div class="bookmark-icon primaryBackgroundTheme">
							<span class="icon icon-bookmark2 whiteTheme"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom fixed-bottom primaryBackgroundTheme">
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch active">Items</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Notes</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Bookmarks</a>
		</div>
		<div class="col-xs-3 pull-left text-center">
			<a class="whiteTheme stretch">Search</a>
		</div>
	</div>
</body>
</html>